@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  /* display: none; */
}

.whole-cont {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

#custom-stroke {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ecececcf;
}
